/*
  Variables
*/

bodybg = #e6e9f0
purple = #5a1094

html
  font-size 14px
  font-family 'Helvetica Neue', sans-serif

p
  font-size 16px
  line-height 1.4

h1
  text-align center
  font-weight 100
  font-size 13rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color blue
    text-decoration none
    &:focus
      outline 0